{% extends "chambre/base.html" %}


#tag static
{% load static %}

{% static 'static/css/services.css' as css_file %}

<link rel="stylesheet" type="text/css" href="{{ css_file }}">

# tag _________________------


{% block title %}Services{% endblock %}

{% block content %}
<div class="container-fluid service py-5">
  <div class="container py-5">
    <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.2s">
      <div class="sub-style">
        <h4 class="sub-title px-3 mb-0">Nos services</h4>
      </div>
      <h1 class="display-3 mb-4">
        Nous vous garantissons la recherche des Procurations et Testaments
      </h1>
      <p class="mb-0">
        Le notaire, en tant qu’officier public et ministériel, occupe une place centrale dans le domaine juridique. Sa mission consiste à authentifier les actes en apposant son sceau et sa signature, conférant ainsi à ces documents une valeur probante.
      </p>
    </div>
    <div class="row g-4 justify-content-center">
      <div
        class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp"
        data-wow-delay="0.1s"
      >
        <div class="service-item rounded">
          <div class="service-img rounded-top">
            <img
              src="img/service.jpg"
              class="img-fluid rounded-top w-100"
              alt=""
            />
          </div>
          <div class="service-content rounded-bottom bg-light p-4">
            <div class="service-content-inner">
              <h5 class="mb-4">Rédaction d’Actes </h5>
              <p class="mb-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis beatae perspiciatis distinctio praesentium quaerat doloremque accusamus atque. Voluptas, tenetur facere.
              </p>
              <a
                href="#"
                class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2"
                >lire plus</a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp"
        data-wow-delay="0.3s"
      >
        <div class="service-item rounded">
          <div class="service-img rounded-top">
            <img
              src="img/service.jpg"
              class="img-fluid rounded-top w-100"
              alt=""
            />
          </div>
          <div class="service-content rounded-bottom bg-light p-4">
            <div class="service-content-inner">
              <h5 class="mb-4">Règlement des primaryions</h5>
              <p class="mb-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis beatae perspiciatis distinctio praesentium quaerat doloremque accusamus atque. Voluptas, tenetur facere. 
                            </p>
              <a
                href="#"
                class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2"
                >Lire Plus</a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp"
        data-wow-delay="0.5s"
      >
        <div class="service-item rounded">
          <div class="service-img rounded-top">
            <img
              src="img/service.jpg"
              class="img-fluid rounded-top w-100"
              alt=""
            />
          </div>
          <div class="service-content rounded-bottom bg-light p-4">
            <div class="service-content-inner">
              <h5 class="mb-4">Conseil et Accompagnement </h5>
              <p class="mb-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis beatae perspiciatis distinctio praesentium quaerat doloremque accusamus atque. Voluptas, tenetur facere.
              </p>
              <a
                href="#"
                class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2"
                >Lire Plus</a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp"
        data-wow-delay="0.7s"
      >
        <div class="service-item rounded">
          <div class="service-img rounded-top">
            <img
              src="img/service.jpg"
              class="img-fluid rounded-top w-100"
              alt=""
            />
          </div>
          <div class="service-content rounded-bottom bg-light p-4">
            <div class="service-content-inner">
              <h5 class="mb-4">Évaluation Immobilière</h5>
              <p class="mb-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis beatae perspiciatis distinctio praesentium quaerat doloremque accusamus atque. Voluptas, tenetur facere.                  </p>
              <a
                href="#"
                class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2"
                >Lire Plus</a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp"
        data-wow-delay="0.1s"
      >
        <div class="service-item rounded">
          <div class="service-img rounded-top">
            <img
              src="img/service.jpg"
              class="img-fluid rounded-top w-100"
              alt=""
            />
          </div>
          <div class="service-content rounded-bottom bg-light p-4">
            <div class="service-content-inner">
              <h5 class="mb-4">Authentification  des Actes</h5>
              <p class="mb-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis beatae perspiciatis distinctio praesentium quaerat doloremque accusamus atque. Voluptas, tenetur facere.                  </p>
              <a
                href="#"
                class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2"
                >Lire Plus</a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp"
        data-wow-delay="0.3s"
      >
        <div class="service-item rounded">
          <div class="service-img rounded-top">
            <img
              src="img/service.jpg"
              class="img-fluid rounded-top w-100"
              alt=""
            />
          </div>
          <div class="service-content rounded-bottom bg-light p-4">
            <div class="service-content-inner">
              <h5 class="mb-4">Droit des Particuliers</h5>
              <p class="mb-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis beatae perspiciatis distinctio praesentium quaerat doloremque accusamus atque. Voluptas, tenetur facere.                  </p>
              <a
                href="#"
                class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2"
                >Lire Plus</a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp"
        data-wow-delay="0.5s"
      >
        <div class="service-item rounded">
          <div class="service-img rounded-top">
            <img
              src="img/service.jpg"
              class="img-fluid rounded-top w-100"
              alt=""
            />
          </div>
          <div class="service-content rounded-bottom bg-light p-4">
            <div class="service-content-inner">
              <h5 class="mb-4">Droit Rural et Agricole</h5>
              <p class="mb-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis beatae perspiciatis distinctio praesentium quaerat doloremque accusamus atque. Voluptas, tenetur facere.                  </p>
              <a
                href="#"
                class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2"
                >Lire Plus</a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp"
        data-wow-delay="0.7s"
      >
        <div class="service-item rounded">
          <div class="service-img rounded-top">
            <img
              src="img/service.jpg"
              class="img-fluid rounded-top w-100"
              alt=""
            />
          </div>
          <div class="service-content rounded-bottom bg-light p-4">
            <div class="service-content-inner">
              <h5 class="mb-4">Droit des Contrats</h5>
              <p class="mb-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis beatae perspiciatis distinctio praesentium quaerat doloremque accusamus atque. Voluptas, tenetur facere.                  </p>
              <a
                href="#"
                class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2"
                >Lire Plus</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.2s">
        <a
          class="btn btn-primary rounded-pill text-white py-3 px-5"
          href="#"
          >Voir Plus</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
  <script>
    // Ajoutez ici votre code JavaScript personnalisé
  </script>
{% endblock %}